//mobile//
.corevalues{
  padding: 55px 20px;
color: #021d2c;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.8px;
font-family: "Droid Serif";
  h3 {
      font-size: 21px;
      font-weight: 600;
      letter-spacing: 1.1px;
      color: #4e1c07;
  }
  .paragraph_break {
      padding-top: 15px;
  }
h4{
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic;
}
nav{display: none;}
}
.greybox{
    background-color: #efe9d9;
  padding: 55px 20px;
color: #021d2c;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.8px;
font-family: "Droid Serif";
  h3 {
      font-size: 21px;
      font-weight: 600;
      letter-spacing: 1.1px;
      color: #4e1c07;
  }
  .paragraph_break {
      padding-top: 15px;
  }
}
.normal_sections {
  padding: 55px 20px;
color: #021d2c;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.8px;
font-family: "Droid Serif";
  h3 {
      font-size: 21px;
      font-weight: 600;
      letter-spacing: 1.1px;
      color: #4e1c07;
  }
  .paragraph_break {
      padding-top: 15px;
  }
}
    ol {
        list-style: decimal;
        list-style-position: inside;
        line-height: 28px;
    .end-of-list {
        font-weight: 700;
        font-style: italic;
    }
}
