//mobile//
.events{
  width: 255px;
}
h3{
  color: #4c1a14;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 1px;
  font-family: 'Droid Serif';
  font-weight: 600;
}
.eh4{
  color: #021d2c;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: 'Lato';
  font-weight: 600;
}
.eh5{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
}
a{
  display: inline-block;
  color: #4e1c07;
  line-height: 36px;
  margin-right: 50px;
  font-weight: 600;
  text-decoration: none;
}
