//mobile//
.header{
  height: 60px;
  width: 100%;
  background-color: $primary-color;
//logo setup//
.logo{
  display: inline-block;
  color: blue;
  font-size: 25px;
  font-family: "Lato",sans-serif;
  line-height: 60px;
  text-decoration: none;
  letter-spacing: 2.5px;
}
//split//
.tech{
  font-weight: $tech-weight;
  display: inline;
}
.lancaster{
  font-weight: $lancaster-weight;
  display: inline;
}
}
//bar//
nav{
  float: right;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
img{
  height: 100%;
  width: 100%;
}
ul{
  display: none;
}
}
nav:hover{
  ul{
    display: block;
    position: relative;
    background-color: $primary-color;
    width: 100px;
    border: 1px solid black;
    right: 60px;
    top: 10px;
    border-radius: 10px;
    li{
      border-bottom: 2px solid #17202d;
      display: block;
      height: 50px;
      a{
        color: #17201d;
        text-align: center;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
      }
      a:hover{
        background-color: #17202d;
      }
}
}
}
