.s1{
  background-image: url("../images/homepage.jpg");
  background-position: 0 -50px;
  height: 350px;
h1{
color: white;
padding: 108px 30% 0 27px;
line-height: 40px;
letter-spacing: 2px;
font-size: 36px;
font-family: 'Lato';
font-weight: $lancaster-weight;
}
}
