/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  height: 60px;
  width: 100%;
  background-color: #ffab00; }
  .header .logo {
    display: inline-block;
    color: text-color;
    size: 25px;
    font-family: "Lato",sans-serif;
    margin: 20px 0 0 25px;
    text-decoration: none;
    letter-spacing: 2.5px; }
  .header .tech {
    font-weight: 100;
    display: inline; }
  .header .lancaster {
    font-weight: 900;
    display: inline; }

nav {
  float: right;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px; }
  nav img {
    height: 100%;
    width: 100%; }
  nav ul {
    display: none; }

nav:hover ul {
  display: block;
  position: relative;
  background-color: #ffab00;
  width: 100px;
  border: 1px solid black;
  right: 60px;
  top: 10px;
  border-radius: 10px; }
  nav:hover ul li {
    border-bottom: 2px solid #17202d;
    display: block;
    height: 50px; }
    nav:hover ul li a {
      color: #17201d;
      text-align: center;
      text-decoration: none;
      display: block;
      height: 100%;
      width: 100%; }
    nav:hover ul li a:hover {
      background-color: #17202d; }

.s1 {
  background-image: url("../images/homepage.jpg");
  background-position: 0 -50px;
  height: 350px; }
  .s1 h1 {
    color: white;
    padding: 108px 30% 0 27px;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 36px;
    font-family: 'Lato';
    font-weight: 900; }

.footer1 {
  width: 100%;
  padding: 35px 0; }
  .footer1 h3 {
    text-align: center;
    size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #6f8998; }

.s2 {
  padding: 0 10px;
  background-color: #ffc400; }
  .s2 article {
    width: 90%;
    padding: 35px 5%; }
    .s2 article p {
      margin-top: 15px;
      color: #021d2c;
      font-size: 15px;
      line-height: 23px;
      letter-spacing: 1px;
      font-family: "Droid Serif"; }
    .s2 article p:first-of-type {
      margin-top: 0px;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1px;
      color: #4e1c07;
      font-family: "Droid Serif";
      font-family: 600; }
    .s2 article a {
      margin: 15px auto 0;
      color: #efe9d8;
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 1px;
      font-style: "Droid Serif";
      font-weight: 600;
      display: block;
      line-height: 55px;
      text-align: center;
      background-color: #eb503c;
      width: 80%;
      height: 55px; }
    .s2 article h4 {
      color: #efe9d8;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: 600; }
    .s2 article div {
      width: 80%;
      padding: 0 5% 34px; }
    .s2 article h3 {
      padding: 7px 0;
      color: #4c1a14;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      font-family: "Droid Serif";
      font-weight: 600; }
  .s2 .bar {
    width: 90%;
    padding: 34px 5%;
    border-top: 2px solid #eb503c; }

.events {
  width: 255px; }

h3 {
  color: #4c1a14;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 1px;
  font-family: 'Droid Serif';
  font-weight: 600; }

.eh4 {
  color: #021d2c;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: 'Lato';
  font-weight: 600; }

.eh5 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300; }

a {
  display: inline-block;
  color: #4e1c07;
  line-height: 36px;
  margin-right: 50px;
  font-weight: 600;
  text-decoration: none; }

.corevalues {
  padding: 55px 20px;
  color: #021d2c;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-family: "Droid Serif"; }
  .corevalues h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #4e1c07; }
  .corevalues .paragraph_break {
    padding-top: 15px; }

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: italic; }

.greybox {
  background-color: #efe9d9;
  padding: 55px 20px;
  color: #021d2c;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-family: "Droid Serif"; }
  .greybox h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #4e1c07; }
  .greybox .paragraph_break {
    padding-top: 15px; }

.normal_sections {
  padding: 55px 20px;
  color: #021d2c;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-family: "Droid Serif"; }
  .normal_sections h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #4e1c07; }
  .normal_sections .paragraph_break {
    padding-top: 15px; }

ol {
  list-style: decimal;
  list-style-position: inside;
  line-height: 28px; }
  ol .end-of-list {
    font-weight: 700;
    font-style: italic; }

/*# sourceMappingURL=style.css.map */
